<footer>
			<div class="head-foot footer">
				<div class="row">
					<div class="container col-sm-10 col-md-8 center-block"">
					<div>
						<a href="/goal" class="footer" title="Goals">
							<img
								src="/images/001-goal.png"
								class="nav"
								title="Goals"
								alt="Goals"
							/>

							<h6>Goals</h6>
						</a>
					</div>
					<div>
						<a href="/trend" class="footer" title="Trends">
							<img
								src="/images/003-stat.png"
								class="nav"
								title="Trends"
								alt="Trends"
							/>

							<h6>Trends</h6>
						</a>
					</div>

					<div>
						<a href="/home" class="footer" title="goals">
							<img
								src="/images/home.png"
								class="home"
								title="Home"
								alt="Home"
							/>
							<h6>Log Mood</h6>
						</a>
					</div>

					<div>
						<a href="/tools" class="footer" title="Tools">
							<img
								src="/images/002-admin.png"
								class="nav"
								title="Tools"
								alt="Tools"
							/>
							<h6>Tools</h6>
						</a>
					</div>
					<div>
						<a href="/logout" class="footer" title="Logout">
							<img
								src="/images/004-logout.png"
								class="nav"
								title="Logout"
								alt="Logout"
							/>
							<h6>Logout</h6>
						</a>
					</div>
				</div>
			</div>
		</footer>