<header>
			<div class="head-foot big">
				<img
					src="../images/moodBUMP_icon.png"
					id="logo"
					title="moodBUMP_logo"
					alt="moodBUMP_logo"
				/>
				<h1>mood<span class="BUMP">BUMP</span></h1>
			</div>
		</header>