div.head-foot {
  background-color: white;
  width: 100%;
  position: fixed;
  min-height: 10%;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid darkgrey;
  z-index: 9998;
}

div.head-foot img#logo {
  margin: 0 auto;
  display: block;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  height: 150px;
  width: 350px;
}

div.head-foot h1 {
  color: #616161;
  font-weight: 200;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 4em;
}

div.head-foot h1 span.BUMP {
  color: #81dfe6;
  font-weight: 900;
}

div.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000000;
  z-index: 999;
}

div.NONE {
  border-bottom: 0;
}

div.footer div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

div.footer div.container img.nav {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

div.footer div.container img.home {
  height: 50px;
  width: 52px;
  margin-top: 10px;
}

div.footer div.container h5 {
  margin: 0 auto;
}

a.footer,
h6.footer {
  text-decoration: none;
  color: black;
}

h6 {
  padding-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
html,
body {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(178, 255, 245, 0.4);
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

main {
  margin-top: 95px;
  margin-bottom: 100px;
}

main.load {
  margin-top: 0px;
}

div.center-block {
  float: none;
  margin: 0 auto;
}

h2.heading {
  color: #616161;
  font-weight: 900;
  font-size: 2.2em;
  display: inline;
}

h3.heading {
  color: #1f7882;
  font-weight: 900;
  display: inline;
}

i {
  padding: 0;
  margin: 0;
}

p.item {
  color: #616161;
  display: inline;
  font-weight: 900;
  font-size: 1.3em;
}

a.clr_underline {
  text-decoration: none;
}

a.clr_underline:hover {
  text-decoration: none;
}

span.highlight {
  font-weight: 400;
  color: #1f7882;
}

span.underline {
  text-decoration: underline;
}

span.inline {
  width: 100%;
  height: auto;
}

button {
  margin-bottom: 2%;
}

button.container {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

button.info {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5em;
  float: right;
}

button.btn-primary {
  background-color: #50a2a8;
  border: #50a2a8;
}

button.btn-primary:hover {
  background-color: #2c7c81;
  border: #2c7c81;
}

button.submit {
  margin-bottom: 5%;
}

.white-bkgd {
  background-color: white;
  margin-bottom: 0;
}

.entry {
  padding: 3%;
  width: 100%;
  color: #616161;
  margin-top: 1%;
}

.main {
  padding: 3%;
  width: 100%;
  color: #616161;
  font-size: 1.3em;
}

.hidden {
  display: none;
}

ul.list-group {
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 0;
}

ul.list-group li {
  padding-bottom: 1%;
  height: 60px;
}

ul.list-group li.list-group-item a {
  color: #616161;
  font-weight: bold;
  font-size: 1.3em;
}

ul.list-group li.list-group-item a:hover {
  color: black;
  text-decoration: underline;
}

ul.list-group span.icon {
  float: right;
  font-size: 1.3em;
  padding: 0mm;
}

ul.list-group span.icon button {
  padding-bottom: 0;
}

p.tip {
  background-color: #616161;
  font-weight: 400;
  color: white;
  margin-top: 0;
  text-align: left;
  padding: 1%;
  font-size: 1.1em;
  padding-left: 4%;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
          box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
}

p.tip i {
  font-size: 1.2em;
}

p.small {
  font-size: 1.1em;
  margin-bottom: 2%;
}

div#border {
  color: #1f7882;
  font-weight: 400;
  background-color: white;
  margin-top: 3%;
  border-left: 10px solid #1f7882;
  border-right: 10px solid #1f7882;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 5px;
  font-size: 1.3em;
}

div.white {
  background-color: white;
  text-align: center;
  padding: 3%;
  margin-bottom: 3%;
}

h3.adjust {
  position: relative;
  top: 20px;
}

ol.goals li.goals {
  color: #616161;
  font-weight: 900;
  padding: 2%;
  font-size: 1.3em;
}

div.slidecontainer {
  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: center;
}

span#moodScale {
  font-weight: 900;
  font-size: 1.2em;
  color: #616161;
}

.slidecontainer img {
  width: 76%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  margin-bottom: 2%;
}

input.slidecontainer {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

p.mood {
  color: #616161;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0;
  text-align: left;
  margin-left: 13%;
}

p#subNote {
  font-style: italic;
  font-weight: 200;
}

img#load_icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

h1.load,
h3.load {
  text-align: center;
  margin-top: 5px;
  color: #616161;
}

h1.load {
  font-size: 3em;
  margin-top: 20%;
  margin-bottom: 0px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background-color: white;
}

a.inactive {
  color: lightgrey;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: darkgrey;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  padding: 2%;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

form#customGoal {
  width: 100%;
}

form#customGoal input {
  font-size: 1.3em;
  padding: 1.7%;
  margin-top: 2%;
  border-radius: 5px;
  width: 100%;
  border: none;
}

div.chart {
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 1.3em;
  border: none;
}

div#notification {
  background-color: #f7f7f7;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 0;
  padding-top: 2.5%;
  margin-top: 5%;
  margin-bottom: 4%;
  border: 1px solid lightgrey;
}

div#notification h5 {
  display: inline;
  font-size: 1.2em;
  color: #616161;
}

.fa-trash-alt {
  float: right;
}

form#sleep {
  padding: 5%;
  color: #616161;
  font-weight: bold;
}

form#sleep input[type="date"],
form#sleep select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
}

.chart-sleep {
  height: 200px;
  width: 400px;
}

h3.square {
  color: white;
  background-color: #2c7c81;
  padding: 1%;
  padding-top: 1.5%;
  margin: 0 0 0 0;
  padding-left: 2%;
  font-size: 1.3em;
  width: 100%;
}

ul.small li {
  height: 50px;
}

.lds-spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #616161;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.container {
  margin-top: 170px;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
  color: #1f7882;
  font-size: 18px;
}

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-login {
  background-color: #50a2a8;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #50a2a8;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #50a2a8;
  border-color: #50a2a8;
}

.forgot-password {
  text-decoration: underline;
  color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #50a2a8;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #50a2a8;
}

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #50a2a8;
  border-color: #50a2a8;
}

@media only screen and (min-width: 600px) {
  main {
    font-size: 1.3em;
  }
  h3.heading {
    font-size: 1.3em;
  }
  p.highlight {
    padding: 7%;
  }
  p.tip {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 900px) {
  main {
    font-size: 1.5em;
  }
  h3.heading {
    font-size: 1.5em;
  }
  p.highlight {
    padding: 5%;
  }
  p.tip {
    font-size: 0.7em;
  }
  i.fa-plus-circle {
    position: relative;
    top: -9px;
  }
  h3.adjust {
    position: relative;
    top: 30px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  main {
    margin-top: 150px;
  }
}

.switch {
  position: relative;
  width: 45px;
  height: 25px;
  float: right;
  margin-right: 3%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidertog {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slidertog:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slidertog {
  background-color: lightgreen;
}

input:focus + .slidertog {
  -webkit-box-shadow: 0 0 1px lightgreen;
          box-shadow: 0 0 1px lightgreen;
}

input:checked + .slidertog:before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

.slidertog.round {
  border-radius: 17px;
}

.slidertog.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */