<!DOCTYPE html>
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8" />
		<meta name="description" content="moodBUMP" />
		<meta name="keywords" content="HTML" />
		<meta name="author" content="Alex Stevens" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
  		<link crossorigin="use-credentials" rel="manifest" href="../../../public/manifest.json">
		<!-- font awesome -->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
			integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
			crossorigin="anonymous"
		/>
		<!-- fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
		/>
		<link href="/style/main.css" rel="stylesheet" />
		<script src="//code.jquery.com/jquery-1.12.4.js"></script>
		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
	<body>
				{{>header}}


		<main>
		<form action="/addMantra" method="POST">
			<div class="row">
				<div class="col-sm-10 col-md-8 center-block">
					<textarea name="mantraEntry" placeholder="Type your new mantra entry here..." ></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-10 col-md-8 center-block">
					<a href="pages/mantraHome" class="clr_underline"
						><button class="btn btn-primary btn-lg btn-block" type="submit">
							Submit New Mantra
						</button></a
					>
				
				</div>
			</div>
	</form>
	<br>
			<div class="row">
				<div class="col-sm-10 col-md-8 center-block">
					<h3 class="heading">Existing Mantras:</h3>
				</div>
			</div>
			{{#unless mantras}}
			<div class="row">
				<div class="col-sm-10 col-md-8 center-block">
					<div class="goals">
						<ul class="list-group">
							<!-- this page will display if goal DB empty-->
							<li class="list-group-item">
								<p id="subNote" class="white-bkgd">
									Add your first mantra!
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{{/unless}}

			

			
			<div class="row">
				<div class="col-sm-10 col-md-8 center-block">
					<ul class="list-group">
						{{#each mantras}}
						<!-- will populate from DB-->
						<li class="list-group-item">
							<form id="mantraDeleteForm" action="/deleteMantra" method="POST">
							<input class="hidden" name="_id" value="{{_id
							}}">
							<p class="item">{{mantraEntry}}</p>
							<span class="icon"
								><button type="submit" class="container opener">
									<i class="far fa-trash-alt"></i></button
							></span></form>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>

		</main>

				{{>footer}}

	</body>
</html>
