//NOTIFICATION TOGGLE BUTTON
.switch {
	position: relative;
	width: 45px;
	height: 25px;
	float: right;
	margin-right: 3%;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slidertog {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slidertog:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slidertog {
	background-color: lightgreen;
}

input:focus + .slidertog {
	box-shadow: 0 0 1px lightgreen;
}

input:checked + .slidertog:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18x);
	transform: translateX(18px);
}

.slidertog.round {
	border-radius: 17px;
}

.slidertog.round:before {
	border-radius: 50%;
}
