$backgroundColor: rgba(#b2fff5, 0.4);
$accentColor: #00fe5d;
$buttonColor: #50a2a8;
$secondaryButtonColor: #2c7c81;

$primaryTextColor: #616161;
$headingTextColor: #1f7882;

$font-weights: (
  "regular": 200,
  "medium": 400,
  "bold": 900,
);
//font-weight: map-get($font-weights, bold);
