html,
body {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 110%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

div#main {
  background-color: $backgroundColor;
  width: 100%;
  padding-top: 2px;
  top: 70px;
  height: 100%;
}

div.highlight {
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
  ul {
    line-height: 1.8;
    list-style-type: circle;
    margin-top: 0px;
    padding-top: 0px;
    li a {
      color: $primaryTextColor;
      text-decoration: none;
    }
  }
}

div#border {
  background-color: white;
  border: 1px solid $headingTextColor;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  ul {
    margin: 5px;
    li {
      font-weight: map-get($font-weights, bold);
      color: $headingTextColor;
    }
  }
}

h1.load,
h3.load {
  text-align: center;
  margin-top: 5px;
  color: $primaryTextColor;
}

h1.load {
  font-size: 3em;
  margin-top: 20%;
  margin-bottom: 0px;
}

h2.heading {
  color: $headingTextColor;
  font-weight: map-get($font-weights, bold);
  font-size: 2em;
  padding: 2%;
  margin-bottom: 2%;
}

h3.heading {
  color: $headingTextColor;
  font-weight: map-get($font-weights, bold);
  margin-left: 2%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3.contrast {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1%;
  margin: 0;
}

p.contrast {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  padding-top: 0;
}

p.highlight {
  color: $headingTextColor;
  font-weight: map-get($font-weights, regular);
  font-size: 1.2em;
  background-color: white;
  padding: 5%;
  margin-top: 0;
}

span.highlight {
  font-weight: map-get($font-weights, medium);
  color: $headingTextColor;
}

span.underline {
  text-decoration: underline;
}

//HOME BASE
ol.goals {
  li.goals {
    color: $primaryTextColor;
    font-weight: map-get($font-weights, bold);
    padding: 2%;
    font-size: 1.2em;
  }
}

h3.goals {
  font-size: 1.5em;
}

div.slidecontainer {
  padding-bottom: 0;
  text-align: center;
}

span.inline {
  width: 100%;
  height: auto;
}

.slidecontainer img {
  width: 76%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
}

input.slidecontainer {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

div.mood {
  text-align: center;
}

p.mood {
  color: $primaryTextColor;
  font-weight: map-get($font-weights, bold);
  font-size: 1.2em;
  padding-top: 2%;
  text-align: left;
  margin-left: 4%;
}

button.moodBTN {
  background-color: $buttonColor;
  font-weight: map-get($font-weights, bold);
  color: $headingTextColor;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 5%;
  font-size: 1.2em;
  width: 70%;
  padding-right: 5%;
}

input.moodBTN:hover {
  border: 1px solid $headingTextColor;
  box-shadow: 1px 2px #888888;
}

//welcome page
img#arrow {
  padding-left: 2%;
}

//LOAD PAGE
img#load_icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
