body {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
}

div#main {
  background-color: $backgroundColor;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 100px;
  position: fixed;
  top: 70px;
}

div.highlight {
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
  ul {
    line-height: 1.8;
    list-style-type: circle;
    margin-top: 0px;
    padding-top: 0px;
    li a {
      color: $primaryTextColor;
      text-decoration: none;
    }
  }
}

div#border {
  background-color: white;
  border: 1px solid $headingTextColor;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  ul {
    margin: 5px;
    li {
      font-weight: map-get($font-weights, bold);
      color: $headingTextColor;
    }
  }
}

h2.heading {
  color: $headingTextColor;
  font-weight: map-get($font-weights, bold);
  font-size: 2em;
  padding: 2%;
  margin-bottom: 2%;
}

h3.heading {
  color: $headingTextColor;
  font-weight: map-get($font-weights, bold);
  margin-left: 2%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3.contrast {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1%;
  margin: 0;
}

p.contrast {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  padding-top: 0;
}

p.highlight {
  color: $headingTextColor;
  font-weight: map-get($font-weights, regular);
  font-size: 1.2em;
  background-color: white;
  padding: 5%;
  margin-top: 0;
}

span.highlight {
  font-weight: map-get($font-weights, medium);
  color: $headingTextColor;
}

span.underline {
  text-decoration: underline;
}

//welcome page
img#arrow {
  padding-left: 2%;
}
