html,
body {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

button a {
  text-decoration: none;
  font-style: normal;
  color: $headingTextColor;
}

div#main {
  background-color: $backgroundColor;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

div.highlight {
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
  ul {
    line-height: 1.8;
    list-style-type: circle;
    margin-top: 0px;
    padding-top: 0px;
    li a {
      color: $primaryTextColor;
      text-decoration: none;
    }
  }
}

div#border {
  background-color: white;
  border: 1px solid $headingTextColor;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  ul {
    margin: 5px;
    li {
      font-weight: map-get($font-weights, bold);
      color: $headingTextColor;
    }
  }
}

h1.load,
h3.load {
  text-align: center;
  margin-top: 5px;
  color: $primaryTextColor;
}

div#space {
  height: 1%;
}

h1.load {
  font-size: 3em;
  margin-top: 20%;
  margin-bottom: 0px;
}

h2.heading {
  color: $primaryTextColor;
  font-weight: map-get($font-weights, bold);
  font-size: 2em;
  padding-top: 8%;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
}

h3.heading {
  color: $headingTextColor;
  font-weight: map-get($font-weights, bold);
  margin-left: 2%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 0.9em;
}

h3.contrast {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1%;
  margin: 0;
}

p.contrast {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  padding-top: 0;
}

p.highlight {
  color: $headingTextColor;
  font-weight: map-get($font-weights, regular);
  font-size: 1.2em;
  background-color: white;
  padding: 5%;
  margin-top: 0;
}

span.highlight {
  font-weight: map-get($font-weights, medium);
  color: $headingTextColor;
}

span.underline {
  text-decoration: underline;
}

//HOME BASE
ol.goals {
  li.goals {
    color: $primaryTextColor;
    font-weight: map-get($font-weights, bold);
    padding: 2%;
    font-size: 1.3em;
  }
}

h3.goals {
  font-size: 1.7em;
}

div.slidecontainer {
  padding-bottom: 0;
  text-align: center;
}

span.inline {
  width: 100%;
  height: auto;
}

span#moodScale {
  font-weight: map-get($font-weights, bold);
  font-size: 1.2em;
  color: $primaryTextColor;
}

.slidecontainer img {
  width: 76%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
}

input.slidecontainer {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

div.mood {
  text-align: center;
}

p.mood {
  color: $primaryTextColor;
  font-weight: map-get($font-weights, bold);
  font-size: 1.2em;
  padding-top: 2%;
  text-align: left;
  margin-left: 4%;
}

button.moodBTN {
  background-color: $buttonColor;
  font-weight: map-get($font-weights, bold);
  color: $headingTextColor;
  font-size: 14px;
  padding: 8px 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 3%;
  font-size: 1.4em;
  width: 75%;
  padding-right: 5%;
  border-radius: 8px;
}

input.moodBTN:hover {
  border: 1px solid $headingTextColor;
  box-shadow: 1px 2px #888888;
}

p#subNote {
  font-style: italic;
  font-weight: map-get($font-weights, regular);
  font-size: 0.9em;
  padding-bottom: 5%;
}

//welcome page
img#arrow {
  padding-left: 2%;
}

//LOAD PAGE
img#load_icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

//Goal Page
div#goalBTN {
  text-align: center;
}
div.goals {
  width: 100%;
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 6%;
    font-size: 1.3em;
    color: $primaryTextColor;
    li {
      border: 1px solid lightgrey; /* Add a thin border to each list item */
      margin-top: -1px; /* Prevent double borders */
      background-color: white; /* Add a grey background color */
      padding: 2%; /* Add some padding */
      span.icon {
        float: right;
        font-size: 1.3em;
      }
    }
  }
}

.dropbtn {
  border: none;
  cursor: pointer;
  background-color: white;
}

a.inactive {
  color: lightgrey;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: darkgrey;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2%;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

//CUSTOM GOAL
form#customGoal {
  width: 100%;
  text-align: center;
  h3 {
    text-align: left;
    margin-top: 5%;
  }
  input {
    font-size: 1.5em;
    padding: 2%;
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
    border: none;
  }
  button.moodBTN {
    margin-top: 5%;
  }
}

//TRENDS

img.chart {
  padding: 4%;
}

//TOOLS
.tree {
  display: none;
}

//THOUGHT JOURNAL
textarea {
  width: 100%;
  height: 100px;
  font-size: 1.5em;
  border: none;
}

//MANTRAS
.fa-trash-alt {
  float: right;
}

//NOTIFICATION TOGGLE BUTTON
div#notification {
  background-color: white;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 0;
  padding-top: 2.5%;
  h5 {
    display: inline;
    font-size: 1.2em;
    color: $primaryTextColor;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  float: right;
  margin-right: 3%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidertog {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slidertog:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slidertog {
  background-color: lightgreen;
}

input:focus + .slidertog {
  box-shadow: 0 0 1px lightgreen;
}

input:checked + .slidertog:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18x);
  transform: translateX(18px);
}

.slidertog.round {
  border-radius: 17px;
}

.slidertog.round:before {
  border-radius: 50%;
}
